/* The outer-div to move the elements */
.boxVideo {
    position: relative;
    width: 100%;
    margin: 0 auto 20px auto;
    cursor: pointer;
    overflow: hidden;
}

/* Set Cover aka Background-Image */
.boxVideo .bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

/* Add light shade to make play button visible*/
.bgVideo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 3;
}


/* The Play-Button using CSS-Only */
.boxVideo .btPlay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    /* -webkit-backdrop-filter: blur(10px); */
    border-radius: 50%;
    text-indent: -999em;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

/* The Play-Triangle */
.boxVideo .btPlay:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    margin: -12px 0 0 -6px;
    border: solid transparent;
    border-left-color: #000;
    border-width: 12px 20px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.boxVideo:hover .btPlay {
    transform: scale(1.1);
}

/* When Class added the Cover gets hidden... */
.boxVideo.open .bgVideo {
    visibility: hidden;
    opacity: 0;

    -webkit-transition: all .6s .8s;
    transition: all .6s .8s;
}

/* and iframe shows up */
.boxVideo.open .videoContainer {
    opacity: 1;
    -webkit-transition: all .6s .8s;
    transition: all .6s .8s;
}

/* Giving the div ratio of 16:9 with padding */
.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    margin: 0;
    z-index: 1;
    padding-bottom: 56.27198%;
}

.videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}